*{
    font-family: 'Ubuntu', 'montserrat', sans-serif;
}


.crema{
    color: #d2be98;
}

.cafeClaro{
    color: #b28d5c;
}

.chocolate{
    color: #56252a;
}

.guinda{
    color: #4d232d;
}

.lila{
    color: #9f234a;
}

.cereza{
    color: #641232;
}

.rojo{
    color: #cf202f;
}

.verdeSeco{
    color: #008a55;
}

.verde{
    color: #205b20;
}
